<%= $game.player_1.name%> vs <%= $game.player_2.name %>

<p><%= $game.player_2.name %>: <%= $game.player_2.hp %>HP</p><br>

<form action="/attack">
  <button type="submit" value="Attack">Attack</button>
</form>
